

h1 {
  text-align: center;
  margin: 20px 30px;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 10 px;
   color:  #f9f9fa;
}
h2 {
  margin: 5px 10px;
  text-align: center;
   color:  #f9f9fa;
  font-size: 20px;
  padding: 50px 10px;
  font-family: "Hind Siliguri", sans-serif;
}
h3 {
  font-size: 50px;
  margin: 0;
  color:  #f9f9fa;
  text-align: center;
  padding: 5px 10px;
  font-family: "Hind Siliguri", sans-serif;
}
h4 {
  color:  #f9f9fa;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
}
h5 {
   font-size: 20px;
  margin: 0 auto;
  padding: 20px 30px;
  color:  white;
  font-family: "Hind Siliguri", sans-serif;
}

p {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 10 px;
}
.fa-cloud-sun {
  margin: 20px auto;
  font-size: 200px;
  color: #646464;

}
.weather-app {
  border: 2px solid #646464;
  padding: 20px 40px;
  margin: 20px 40px;
  max-width: 600px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
border-radius: 10px;
}
.weather-icon {
  height: 100px;
  width: 100px;
  margin: 30 auto;
  
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: white;
}
.units{
  color: white;

}
